- var bower = "vendor/bower_components" 

doctype
html
  head
    link(rel="stylesheet" href="/main.css")
  body
    != yield

    script(src="#{bower}/jquery/dist/jquery.js")
    script(src="#{bower}/underscore/underscore.js")
    script(src="#{bower}/backbone/backbone.js")
    script(src="#{bower}/backbone-relational/backbone-relational.js")
    script(src="#{bower}/knockout/dist/knockout.debug.js")
    script(src="#{bower}/knockback/knockback.js")
    script(src="/main.js")
